<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>LanMusic</h1>
    <p>Listen to your favorite songs from your friends over the LAN</p>
  </div>
</div>

<div class="container">
  <div *ngIf="isDataLoaded">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Sr. No.</th>
          <th>Title</th>
          <th>Size</th>
          <th>IsDir</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let md of musicData; let i=index">
          <td>{{ i + 1 }}</td>
          <td>{{ md.name }}</td>
          <td>{{ md.size }}</td>
          <td>{{ md.isDir }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center" *ngIf="!isDataLoaded">
    Loading your favorite music...<br />
    <div class="loader"></div>
  </div>
  <div class="text-center" *ngIf="isError">
    <div class="card bg-danger text-white">
      <div class="card-body">{{ ErrorMsg }}</div>
    </div>
  </div>
</div>
