<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>LanMusic</h1>
    <p>Listen to your favorite songs from your friends over the LAN</p>
  </div>
</div>

<div class="container mb-5">
  <div class="text-center" *ngIf="isError">
    <div class="card bg-danger text-white">
      <div class="card-body">{{ ErrorMsg }}</div>
    </div>
  </div>
  <div *ngIf="isDataLoaded && musicList?.songs">
    <div class="card mb-2" *ngFor="let md of musicList.songs; let i = index">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-1">
            <img
              class="img-fluid"
              src="https://picsum.photos/seed/{{ i }}/200"
            />
          </div>
          <div class="col-sm-10 card-text">
            <h4 class="card-title">
              <a
                class="text-success"
                style="text-decoration: none;"
                href="{{ '/stream/' + md.id }}"
                >{{ md.title }}</a
              >
            </h4>
            <div class="text-muted">
              <div class="row">
                <div class="col">
                  <strong>Album: </strong>{{ md.album || "NA" }}
                </div>
                <div class="col">
                  <strong>Artist: </strong>{{ md.artist || "NA" }}
                </div>
                <div class="col">
                  <strong>Release Year: </strong
                  >{{ ("" + md.year | slice: 0:4) || "NA" }}
                </div>
              </div>
            </div>
          </div>
          <!-- <div
            class="col-sm-1 text-center mx-auto my-auto"
            style="font-size: 1.5em;"
          >
            <i class="fa fa-play"></i>
          </div> -->
        </div>
      </div>
    </div>
    <div class="mt-3">
      <ul class="pagination justify-content-center">
        <li
          class="page-item"
          [ngClass]="{ disabled: !musicList.cursor.hasPrevious }"
          [attr.disabled]="!musicList.cursor.hasPrevious ? '' : disabled"
        >
          <a
            class="page-link"
            href="{{ '#' + (musicList.cursor.index - 20) }}"
            (click)="getPrevious()"
            [attr.disabled]="!musicList.cursor.hasPrevious ? '' : disabled"
          >
            Previous
          </a>
        </li>
        <li
          class="page-item"
          [ngClass]="{ disabled: !musicList.cursor.hasNext }"
          [attr.disabled]="!musicList.cursor.hasNext ? '' : disabled"
        >
          <a
            class="page-link"
            href="{{ '#' + musicList.cursor.index }}"
            (click)="getNext()"
            [attr.disabled]="!musicList.cursor.hasNext ? '' : disabled"
          >
            Next
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="text-center" *ngIf="!isDataLoaded">
    Loading your favorite music...
    <div class="loader">&nbsp;</div>
  </div>
</div>
